In [1]:
import numpy as np
import pandas as pd
from utils import *

In [2]:
data = pd.read_csv('data.csv', skiprows=[0,1,2,3], names=(['frame'] + HEADERS)).set_index('frame').drop(CCOLS, axis=1)
data

,snout_x,snout_y,l_ear_x,l_ear_y,r_ear_x,r_ear_y,spine1_x,spine1_y,spine2_x,spine2_y,...,ll_corner_x,ll_corner_y,lr_corner_x,lr_corner_y,l_screen_x,l_screen_y,m_screen_x,m_screen_y,r_screen_x,r_screen_y
frame,,,,,,,,,,,,,,,,,,,,,
0,347.368,221.276,339.779,172.237,308.384,191.340,304.585,162.816,262.045,155.757,...,84.664,444.079,588.567,420.646,170.950,82.950,330.243,69.378,484.477,67.688
1,347.462,221.276,345.557,172.237,311.504,195.804,308.187,163.449,266.100,156.165,...,84.685,444.081,588.567,420.661,170.953,82.987,330.361,69.407,484.477,67.707
2,348.278,221.276,347.596,172.237,314.244,195.804,308.187,166.050,267.250,156.183,...,84.685,444.081,588.567,420.661,171.046,83.033,330.390,69.407,484.482,67.710
3,352.592,221.254,347.596,171.879,314.562,195.804,308.317,166.050,267.625,156.183,...,84.686,444.081,588.567,420.663,171.097,82.987,330.472,69.378,484.477,67.710
4,352.687,216.565,348.001,170.011,317.910,194.290,308.317,166.050,267.625,156.165,...,84.686,444.081,588.567,420.663,171.132,82.950,330.472,69.407,484.450,67.710
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50998,171.583,209.922,190.399,170.193,156.365,172.924,170.588,144.662,131.726,131.805,...,84.564,443.980,588.602,420.861,172.053,76.012,329.659,68.152,483.787,67.724
50999,171.625,209.845,190.427,170.193,157.280,173.422,170.588,140.843,131.999,131.699,...,84.577,443.997,588.605,420.861,172.054,75.994,329.660,68.152,483.830,67.724
51000,171.657,209.652,190.427,170.193,157.971,173.422,170.568,140.552,131.999,131.469,...,84.695,444.017,588.622,420.944,172.039,76.014,329.694,68.369,483.879,67.705
51001,171.657,205.529,190.427,163.668,157.971,172.823,165.818,139.548,131.726,131.457,...,84.695,444.017,588.622,420.944,172.031,75.921,329.694,68.369,483.879,67.698
51002,171.657,189.722,190.216,151.484,157.971,171.143,159.986,138.673,131.717,131.190,...,84.695,444.017,588.622,420.944,171.521,75.916,329.694,68.369,483.879,67.683

In [3]:
# #of nan in each column
np.sum(data.isnull())

snout_x         13
snout_y         14
l_ear_x          0
l_ear_y          0
r_ear_x          7
r_ear_y          7
spine1_x         0
spine1_y         0
spine2_x        10
spine2_y        13
tail1_x         87
tail1_y         89
tail2_x        146
tail2_y        154
tail3_x        464
tail3_y        460
food_port_x      0
food_port_y      0
ll_corner_x      0
ll_corner_y      0
lr_corner_x      0
lr_corner_y      0
l_screen_x      63
l_screen_y      63
m_screen_x      33
m_screen_y      33
r_screen_x     138
r_screen_y     143
dtype: int64

In [4]:
col = data['snout_x']
col

frame
0        347.368
1        347.462
2        348.278
3        352.592
4        352.687
          ...
50998    171.583
50999    171.625
51000    171.657
51001    171.657
51002    171.657
Name: snout_x, Length: 51003, dtype: float64

In [5]:
# find index of missing values
idx = col[col.isnull()].index
idx

Int64Index([2592, 2593, 2594, 2595, 4429, 4430, 4432, 4433, 4434, 4435, 4436,
            4437, 4438],
           dtype='int64', name='frame')

In [6]:
# group consecutive index

temp = [idx[0]]
grouped = []
for i in idx[1:]:
    if (i - temp[-1] == 1):
        temp.append(i)
        
    else:
        grouped.append(temp)
        temp = [i]

grouped.append(temp)

grouped

[[2592, 2593, 2594, 2595],
 [4429, 4430],
 [4432, 4433, 4434, 4435, 4436, 4437, 4438]]

In [7]:
# fillNaN progressively
for group in grouped:
    pre = col[(group[0] - 1)]
    nex = col[(group[-1] + 1)]
    steps = len(group)
    step = (nex - pre) / steps
    
    for i in group:
        pre += step
        col[i] = pre

In [8]:
col[col.isnull()].index

Int64Index([], dtype='int64', name='frame')

In [9]:
df[[2591, 2592, 2593, 2594, 2595, 2596]]

NameError: name 'df' is not defined

In [ ]:
# full scale

def fillna(df):
    
    for col_name in df:

        # index of missing values
        col = df[col_name]
        idx = col[col.isnull()].index
        
        if idx.any():
            
            # group consecutive index
            temp = [idx[0]]
            groups = []
            for i in idx[1:]:
                # add to temp list if the element is consecutive
                if (i - temp[-1] == 1):  
                    temp.append(i)
                # if the element is not consevutive,
                # complete the current group and reset temp list
                else:
                    groups.append(temp)
                    temp = [i]
            groups.append(temp)


            # fillNaN progressively, using average step of prev/next value
            out_of_bound = False
            for group in groups:
                try:
                    pre = col[(group[0] - 1)]   # previous non-empty value
                    nex = col[(group[-1] + 1)]  # next non-empty value
                    steps = len(group)
                    step = (nex - pre) / steps  # step value

                    for i in group:
                        pre += step
                        col[i] = pre
                
                # happens when the 1st/last element is NaN so there's no preceding/following value to fill
                except KeyError:
                    out_of_bound = True
                    continue
            
            # fill remaining value if error occurred
            if out_of_bound:
                col.fillna(method='bfill', inplace=True)
                col.fillna(method='ffill', inplace=True)
                
fillna(data)

In [ ]:
# #of nan in each column
np.sum(data.isnull())